@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
@using Models

@if (Model.IsGameEnded)
{
    <form method="post">
        <input type="submit" asp-page-handler="Restart" value="Restart" />
    </form>
}
else
{
    <form method="post">
        @foreach (var property in typeof(Player).GetProperties())
        {
            <div class="formItem">
                <label>@property.Name</label>
                @if (property.PropertyType==typeof(string))
                {
                    <input type="text" name="Player.@property.Name" />
                }
                else if (property.PropertyType==typeof(int))
                {
                    <input type="number" name="Player.@property.Name" />
                }
                else
                {
                    <label>IncorrectType</label>
                }
            </div>
            @Html.ValidationMessage(property.Name)
        }
        <input type="submit" value="Fight" />

    </form>
}

